.contact_container {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
}

.contact_container h1 {
  margin-bottom: 20px;
}

.contact_container ul {
  list-style: none;
  padding-left: 0;
}

.contact_container li {
  margin-bottom: 10px;
}